<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicLanguageRuntime" version="1.1.2" targetFramework="net452" />
  <package id="IronPython" version="2.7.7" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net452" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net452" />
  <package id="MaterialDesignThemes" version="2.3.0.823" targetFramework="net452" />
  <package id="MaterialDesignThemes.MahApps" version="0.0.11" targetFramework="net452" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net452" />
</packages>